
@{
    ViewBag.Title = "ReportarAsistencia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-5">
        <div class="container">
            <div class="page-header-content pt-4">
                <div class="row align-items-center justify-content-between">
                    <div class="col-auto mt-4">
                        <h1 class="page-header-title">
                            <div class="page-header-icon"><i data-feather="file-plus"></i></div>
                            Reportar Asistencia
                        </h1>
                        <div class="page-header-subtitle">Reportar asistencia Mensual</div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="row">
        <div class="container col-xl-12">
            <div class="card mb-4">
                <div class="card-header">
                    Descarga de plantilla
                </div>
                <div class="card-body">
                    <div class="form-body">
                        <form>

                            <div class="row gx-3 mb-3">
                                <div class="col-md-12 text-center mt-4">
                                    <a class="btn btn-primary" href="@Url.Action("DescargarPlantilla","Alumno")" id="btnDescargarExcel">
                                       <i data-feather="download"></i>
                                        Descargar Excel
                                    </a>
                                    
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-header">
                    Carga de Archivo
                </div>

                <div class="card-body">
                    <div id="TipoDeRegistroContainer">
                        @Html.Partial("_Anexos")
                    </div>

                </div>
            </div>
        </div>
    </div>

</main>
@Scripts.Render("~/Content/Api")


